<div class="product-detail-container">
	@if (ecommerce_item && item_info) {
		<div class="product-card">
			<div class="product-main-image">
				<img [src]="mainImageId | image" alt="{{ item_info.name }}">
			</div>
			<div class="product-info">
				<h1 class="product-name">{{ item_info.name }}</h1>
				<p class="product-category">{{ ecommerce_item.category_name || 'N/A' }}</p>
				<p class="product-description">{{ item_info.description || 'No description available.' }}</p>
				<p class="product-price">{{ ecommerce_item.price | currency }}</p>
				<button class="btn btn-primary add-to-cart-button" (click)="addToCart(ecommerce_item.id)">
					Añadir al carrito
				</button>
			</div>
		</div>
		@if (additionalImageIds && additionalImageIds.length > 0) {
			<div class="row mt-3 justify-content-center">
				@for(imageId of additionalImageIds; track imageId) {
					<div class="col-2">
						<img [src]="imageId | image" class="img-fluid thumbnail" [class.selected]="imageId === mainImageId" (click)="setMainImage(imageId)" alt="Product Thumbnail">
					</div>
				}
			</div>
		}
	} @else {
		<div class="text-center">
			<p>Cargando detalles del producto...</p>
		</div>
	}

	@if (attachments && attachments.length > 0) {
		<div class="attachments-section">
			<h2>Archivos Adjuntos</h2>
			<ul>
				@for (attachment of attachments; track attachment.attachment_id) {
					<li>
						<a [href]="attachment.url" target="_blank">{{ attachment.title }}</a>
						<p>{{ attachment.description }}</p>
					</li>
				}
			</ul>
		</div>
	}
</div>
