<div class="container mt-5">
  <h2 class="app-page-title">Editar Artículo</h2>

  <div class="card bg-white p-3">
    <form (ngSubmit)="save()">
      <div class="mb-3">
        <label for="code" class="form-label">Código</label>
        <input type="text" class="form-control" id="code" [(ngModel)]="ecommerce_item.code" name="code">
      </div>

      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="ecommerce_item.name" name="name" required>
      </div>

      <button type="submit" class="btn btn-primary">Guardar</button>
      <a [routerLink]="['/list-ecommerce-item']" class="btn btn-secondary ms-2">Cancelar</a>
    </form>
  </div>
</div>
