<div class="container">
  <h2 class="my-3"> Listado de Artículos</h2>

  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Buscar artículos por nombre..."
      [(ngModel)]="searchTerm"
      (input)="onSearch()">
  </div>

  @if (ecommerce_item_list.length === 0) {
    <div class="alert alert-info">
      No items found.
    </div>
  }
  @if (ecommerce_item_list.length > 0) {
    <div class="card bg-white p-3">
      <table class="table table-discrete-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th class="text-end">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (ceii of cecommerce_item_info; track ceii.ecommerce_item.id) {
            <tr>
              <td>
                <div class="image-square">
                  <img [src]="ceii.item_info.item.image_id | image" alt="">
                </div>
              </td>
              <td>{{ceii.item_info.item.name}}</td>
              <td>{{ceii.ecommerce_item.price | currency}}</td>
              <td class="text-end">
                <a class="btn btn-primary btn-sm" [routerLink]="['/edit-ecommerce-item', ceii.ecommerce_item.id]">Editar</a>
                <a class="btn btn-info btn-sm ms-2" [routerLink]="['/list-role-ecommerce-item']" [queryParams]="{ecommerce_item_id: ceii.ecommerce_item.id}">Roles</a>
                <button class="btn btn-danger btn-sm ms-2">Eliminar</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <app-pagination
      [current_page]="current_page"
      [total_pages]="total_pages"
      [pages]="pages"
      [path]="path">
    </app-pagination>
  }
</div>
